{% extends "admin/change_list.html" %}
{% load url from future %}

{% if has_add_permission %}
{% block object-tools-items %}
    {% for text,export_url in export_buttons %}
    <li><a href="{{ export_url }}" class="addlink">{{ text }}</a></li>
    {% endfor %}
	{{ block.super }}
{% endblock %}
{% else %}
{% block object-tools %}
	<ul class="object-tools">
    {% for text,export_url in export_buttons %}
    <li><a href="{{ export_url }}" class="addlink">{{ text }}</a></li>
    {% endfor %}
	</ul>
	{{ block.super }}
{% endblock %}
{% endif %}
